*{
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 57px;
  background-color: #FC7061;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  z-index: 5;
  position: fixed;
}

.navButtonContainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.navButtonContainer Button {
  margin-right: 20px;
  margin-top: 5px;
}

.searchBar {
  width: 100%;
  max-width: 300px;
  display: inline-flex;
}

.leftSide {
  display: flex;
  align-items: center;
  flex: 1;
}
.searchBarInput {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border: 1px solid #947048;
  border-radius: 5px 0 0 5px;
  background: white;
}

.searchBarButton {
  width: 40px;
  background: #FCF4EF;
  color: red;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  user-select: none;
}

.profileSection {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}


.profilePic{
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

.profileButton{
  margin: 0;
  border: 0;
  padding: 0;
  border-radius: 100%;
  height: 35px;
  width: 35px;
}

.profileSection button {
  margin-right: 20px;
}

.LogoImage{
  height: 35px;
}